@model Datepicker.RouteConfig

@{
    ViewBag.Title = "Custom datepicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>

<body>
<div>
    <input type="text" id="custom-datepicker"/>
    <div class="calendar">
        
    </div>
</div>
</body>

