/*shared*/

body {
    padding-bottom: 230px;
}

.main-settings {
    width: 1170px;
    margin: auto; 
}


/*body head*/

.body-head {          
}

.top-navbar {
    margin: 0; 
    float: right;
    height: 100%;
    display: table;
   }

.top-navbar-item {
    display: table-cell; 
    vertical-align: middle;    
    padding-left: 40px; 
}

.top-navbar-text {
    font-size: 16px;   
}
.top-navbar-text:hover {
    text-decoration: none;
} 

.top-bar {
    vertical-align: top;
    height: 40px;
}

.middle-bar {
    height: 90px;
    width: 100%;
    vertical-align: top;
}

.logo-bar {
    background-color: rgb(246,246,246);
    vertical-align: top;
    float: right;
    height: 100%;
    width: 89%;
}

.logo-img {
    float: left;
    height: 100%;
}

.middle-navbar {
    height: 100%;
    float: right;
} 

.middle-navbar-item-li {
    height: 100%;
    float: right;
    margin-left: 5px;
    display: inline-block; 
} 

.middle-navbar-item{
    display: inline-block;     
    height: 100%;
    width: 150px; 
}

.middle-navbar-item-content {
    display: table;
    height: 100%;
    width: 100%;
}
.middle-navbar-item-content-image {
    display: table-cell;
    vertical-align: middle;
}

.middle-navbar-item:hover {
    text-decoration: none;
} 

.blue {
    background-color: rgb(5, 174, 204);
}
.blue:hover {
    background-color: rgb(5, 174, 224);
}

.red {
    background-color: rgb(240,98,110);
}
.red:hover {
    background-color: rgb(260,98,110);
}

.middle-nav-bar-text {
    color: white;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;    
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.middle-navbar-image {
    margin-left: 5px;
}

.bottom-bar {
    background-color: rgb(5, 174, 204);
    height: 70px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.bottom-navbar {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0;
} 

.bottom-navbar-item {
    height: 100%;
    width: 120px;
    display: inline-table; 
}

.bottom-navbar-item:hover {
    background-color: white;
    text-decoration: none;
} 

.bottom-nav-bar-item-text {
    color: white;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dropdown-navbar {
    position: absolute;
    display: none;
    float: left;
    font-size: 14px;
    list-style: none;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.175);
    box-shadow: 0 0 15px rgba(0,0,0,0.175);
    padding-left: 0;
    z-index: 1;
}

.bottom-navbar-item:hover  .dropdown-navbar {
    display: block;
}

.bottom-navbar-item:hover  .bottom-nav-bar-item-text {
    color: rgb(240, 100, 112); 
}

.dropdown-navbar-item-li {
    width: 275px;
}

.dropdown-navbar-item {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.dropdown-navbar-item-image {
    float: left;
}

.dropdown-navbar-item-name {
    display: table-row;
    text-align: left;
    color: rgba(240, 100, 112, 1);
    font-size: 14px;
}

.dropdown-navbar-text {
    display: table-row;
    text-align: left;
    font-size: 12px;
}

.dropdown-navbar-button {
    background-color: rgba(5, 174, 204, 1);
    width: 140px;
    display: table;
}

.dropdown-navbar-button-text {
    color: rgba(255,255,255,1);
    font-size: 14px;
    vertical-align: middle;
    text-align: center;    
    display: block;
}

.dropdown-navbar-button:hover {
    background-color: rgb(5, 174, 224);
    text-decoration: none;
}

.dropdown-navbar-separator {
    height: 1px;
}

.dropdown-navbar-separator-img {
    vertical-align: top;
}

.dropddown-navbar-footer {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 18px;
    text-align: left;
    color: rgb(240, 100, 112);
}

/*body content*/

.body-content {
    /*background-color: burlywood;*/
}

.body-content-block {
    overflow: hidden;
}

.content-products-item {
    overflow: hidden;
    margin-bottom: 6px;
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.content-products-item-ref {
    display: block;
    float: left;
    background: rgb(54, 42, 79);

}

.content-products-item-image:hover {
    opacity: 0.5;
}

.content-products-item-image {
}

.content-products-item-text {
    width: 300px;
    position: absolute;
}

.item-text-mens {
    bottom: 5px;
}

.item-text-womens {
    bottom: 5px;
}

.content-products-item-text-div {
    background-color: rgba(54,42,79,0.8);
    overflow: hidden;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.content-products-item-text-title {
    float: left;
    width: 100%;
    font-weight: bold;
    line-height: inherit;
    color: rgb(240, 90, 102); 
    text-align: justify;
}

.item-text-title-mens {
    font-size: 40px;
}

.item-text-title-womens {
    font-size: 31px;
}

.content-products-item-text-content {
    float: left;
    width: 100%;
    font-size: 10px;
    color: white;
    text-align: justify;
}

.content-products-item-text-footer-div {
    margin-top: 2px;
    background-color: rgba(239,89,102,0.8);
    width: 100%;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: justify;
}

.sale-menu {
    overflow: visible;
    position: absolute;
}

.sale-menu-baby-shop {
    right: 0px;
    bottom: 20px;
}

.sale-menu-crafts {
    right: 0;
    bottom: 0;
}

.sale-menu-price-div {
    background: rgb(50, 50, 50);
    width: 86px;
    height: 55px;
    float: right;
    color: white;
    display: table;
}

.sale-menu-price {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.sale-menu-price-curr {
    font-size: 15px;
    line-height: 1;
}

.sale-menu-price-whole {
    font-size: 30px;
    line-height: 1;
    margin-right: -5px;
}

.sale-menu-price-fractional {
    font-size: 15px;
    line-height: 1;
    vertical-align: top
}

.sale-menu-div {
    display: table-cell;
    vertical-align: middle;
}

.sale-menu-ref {
    float: right;
    width: 53px;
    height: 55px;
    text-align: center;
    display: table;
}

.card-ref {
    background: rgb(240, 98, 110);
}

.sale-menu-card-image {
}

.custom-title:hover::after { 
    content: attr(data-title); 
    position: absolute;     
    z-index: 1; 
    background: white;
    font-size: 11px; 
    padding: 5px 10px;
    border: 1px solid rgb(240, 98, 110);
}

.baby-custom-title-card:hover::after {
    left: 53%; top: -50%; 
}

.baby-custom-title-whislost:hover::after {
    left: 39%; top: -50%; 
}

.crafts-custom-title-card:hover::after {
    left: 62%; top: -50%; 
}

.crafts-custom-title-whislost:hover::after {
    left: 50%; top: -50%; 
}

.whislost-ref {
    background: rgb(0, 161, 190);    
}

.sale-menu-whislost-image {
    
}

.menu-caption-baby-shop {
    background: rgb(5, 174, 204);
    width: 131px;
    height: 55px; 
    color: white;
    font-size: 20px;
}

.menu-caption-crafts {
    background: rgba(54, 42, 79, 0.7);
    width: 203px;
    height: 55px; 
    color: white;
    font-size: 30px;
}

.content-products-search-div {
    width: 670px;
    height: 171px;
    background-color: rgb(240, 98, 110);
    display: table;
}

.content-products-search {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.content-products-search-text {
    width: 100%;
    height: 71px;
    background-color: white;
    display: table-cell;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.175);
    box-shadow: 0 0 15px rgba(0,0,0,0.175);
}

.search-text {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}

.content-products-search-href {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}

.content-products-jewelry {
    position: absolute;
    background: rgba(54, 42, 79, 0.7);
    height: 400px;
    overflow: visible;
    width: 87px;
    right: 0;
    bottom: 0;
}

.content-products-jewelry-text {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    -o-transform: rotate(-90deg); 
    transform: rotate(-90deg);
    color: white;
    position: absolute;
    width: 400px;
    height: 87px;
    font-size: 55px;
    top: 155px;
    left: -153px;
    padding-left: 20px;
    vertical-align: bottom;
}

.content-products-jewelry-img {
    position: absolute;
    right: 0;
    top: 20px;    
}

/*body content new products*/

.new-products {
}

.featured-products {
}

.about-us {
    padding-bottom: 6px;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: rgb(185, 185, 185);
}

.products-slide-bar {
    /*background-color: aqua;*/
    margin-top: 25px;
    margin-bottom: 25px;
    height: 79px;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: rgb(185, 185, 185);
    position: relative;
}

.products-slide-bar-caption {
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 98, 110);
    margin-left: 30px;
    font-size: 30px;
    margin-bottom: -1px;
    color: rgb(0, 161, 190);
    position: absolute;
    bottom: 0;
}

.products-slide-bar-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

.products-slide-bar-href {
    display: table;
    width: 70px;
    height: 79px;
    margin-left: 1px;
}

.slide-bar-buttom {
    background-color: rgb(60, 60, 60);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.slide-bar-buttom-blue:hover {
    background-color: rgb(5, 174, 204);
}

.slide-bar-buttom-red:hover {
    background-color: rgb(240, 98, 110);
}

.stretch-block {
    padding-bottom: 6px;
    padding-top: 6px;
    display: inline-block;
    width: 100%;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    zoom: 1;
    /*text-align-last: justify;*/
}

.stretch-block:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.new-products-item-href {
    display: inline-block;
}

.stretch-item {
    display: inline-block;
    text-align: left;
    line-height: normal;
    vertical-align: top;
    position: relative;
}

.new-item {
    background: rgb(54, 42, 79);
}

.featured-item {
}

.action-item {
}

.new-products-item-image:hover {
    opacity: 0.5;
}

.new-products-baby-shop {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align-last: initial;
    width: 323px;
    height: 55px;
    margin: auto;
    display: none;
}

.new-item:hover .new-products-baby-shop{
    display: block;
}

.featured-item-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*background-color: aliceblue;*/
}

.featured-item-text {
    height: 56px;
    background-color: white;
    overflow: hidden;
    border-width: 1px; 
    border-style: solid;
    border-color: rgb(221, 221, 221);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.featured-item-text-title {
    float: left;
    width: 100%;
    font-weight: bold;
    line-height: inherit;
    font-size: 18px;
    color: rgb(67, 67, 67);
}

.featured-item-text-discription {
    float: left;
    width: 100%;
    color: rgb(240, 90, 102);
    font-size: 14px;
}

.featured-item-menu {
    border-width: 1px; 
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-top-style: none;
    overflow: hidden;
}

.featured-item-sticker {
    width: 80px;
    height: 34px;
    position: absolute;
    top: 15px; 
    display: table;   
}

.featured-item-sticker-text {
    font-size: 16px;
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.gray-ref {
    background-color: white;
    border-right-width: 1px; 
    border-right-style: solid;
    border-right-color: rgb(221, 221, 221);
    width: 55px;
}

.gray-ref:hover {
    background-color: rgb(250,250,250);
}

.gray-price-div {
    width: 103px;
}

.blue-item {
    background-color: rgb(5, 174, 204);
}

.red-item {
    background-color: rgb(240, 90, 102);
}

.slide-bar-about-us {
    height: 50px;
}

.about-us-text-div {
    padding-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.about-us-text {
}

.register-now-div {
    height: 61px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.register-now-href {
    height: 100%;
    width: 640px;
    display: inline-table;
}

.register-now-href:hover {
    text-decoration: none;
} 

.register-now-text {
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(5, 174, 204);
    color: white;
    font-size: 30px;
}

/*body footer*/

.link-heap {
    padding-bottom: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(185, 185, 185);
}

.link-heap-item {    
    font-size: 16px;
}

.link-heap-item-caption {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 25px;
    color: rgb(67,67,67);
}

.link-heap-item-refs {
    
}

.link-heap-href-div {
    padding-bottom: 12px;
}

.link-heap-href {
    display: table-row;
    color: rgb(103, 103, 103);
}

.link-heap-href:hover {
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.subscribe-block {
    
}

.subscribe-block-title-div {
    border-width: 1px; 
    border-style: solid;
    border-color: rgb(221, 221, 221);
    color: rgb(63, 63, 63);
    height: 70px;
    width: 370px;
    text-align: center;
    vertical-align: middle;
    display: table;
}

.subscribe-block-title {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: rgb(63, 63, 63);
}

.subscribe-href-div {
    background-color: rgb(5, 174, 204);
    height: 50px;
    display: table;
    width: 100%;        
}

.subscribe-href {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.subscribe-href:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(5, 174, 224);
}

.social-href-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-href-caption {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(67,67,67);
}

.social-href-items {  
}

.social-href-items {
}

.social-href-item-empty {
    height: 55px;
    width: 54px;
}

.creater-block {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(185, 185, 185);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.company-block {
    float: left;
}

.designer-block {
    float: right;
}

.creater-block-text {
    font-size: 12px;
}

.designer-name {
    color: rgb(242, 119, 129);
}