@model Site5.RouteConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>

<body>
<div class="body-head main-settings">

    @* TOP NAVBAR *@
    <div class="top-bar">
        <ul id="top-navbar" class="top-navbar">
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Sell</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Reristry</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Community</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Blogs</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Mobile</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Gift Cards</a>
            </li>
        </ul>
    </div>

    @* MIDDLE NAVBAR *@
    <div class="middle-bar">
        <div class="logo-bar">
            <ul id="middle-navbar" class="middle-navbar">
                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item red">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text right-align">Cart</span>
                            <div class="middle-navbar-item-content-image">
                                <img alt="" class="middle-navbar-image" src="~/Images/cart.png"/>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item blue">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text right-align">Whislost</span>
                            <div class="middle-navbar-item-content-image">
                                <img alt="" class="middle-navbar-image" src="~/Images/box.png"/>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item red">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text center-align">Sign in</span>                                
                        </div>
                    </a>
                </li>

                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item blue">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text center-align">Register</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <img src="~/Images/logo.png" class="logo-img" alt=""/>
    </div>

    @* BUTTOM NAVBAR *@
    <div class="bottom-bar">
        <ul id="bottom-navbar" class="bottom-navbar">
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Art</div>
                </a>
                <ul class="dropdown-navbar">
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item">
                            <img alt="" class="dropdown-navbar-item-image" src="~/Images/dropdown-image.png"/>
                            <span class="dropdown-navbar-item-name">Item Name Here</span>
                            <span class="dropdown-navbar-text">Lorem Ipsum is simply dummy text of the</span>                                    
                            <a href="" class="dropdown-navbar-button">
                                <div class="dropdown-navbar-button-text">More Detail</div>
                            </a>
                        </div>
                        <div class="dropdown-navbar-separator">
                            <img class="dropdown-navbar-separator-img" alt="" src="~/Images/line.png"/>
                        </div>
                    </li>
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item">
                            <img alt="" class="dropdown-navbar-item-image" src="~/Images/dropdown-image.png"/>
                            <span class="dropdown-navbar-item-name">Item Name Here</span>
                            <span class="dropdown-navbar-text">Lorem Ipsum is simply dummy text of the</span>
                            <a href="" class="dropdown-navbar-button">
                                <div class="dropdown-navbar-button-text">More Detail</div>
                            </a>
                        </div>
                        <div class="dropdown-navbar-separator">
                            <img class="dropdown-navbar-separator-img" alt="" src="~/Images/line.png"/>
                        </div>
                    </li>
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item">
                            <img alt="" class="dropdown-navbar-item-image" src="~/Images/dropdown-image.png"/>
                            <span class="dropdown-navbar-item-name">Item Name Here</span>
                            <span class="dropdown-navbar-text">Lorem Ipsum is simply dummy text of the</span>
                            <a href="" class="dropdown-navbar-button">
                                <div class="dropdown-navbar-button-text">More Detail</div>
                            </a>
                        </div>
                        <div class="dropdown-navbar-separator">
                            <img class="dropdown-navbar-separator-img" alt="" src="~/Images/line.png"/>
                        </div>
                    </li>
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item dropddown-navbar-footer">See All Items</div>
                    </li>
                </ul>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Home & Living</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Jewelry</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Women</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Men</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Kids</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Vintage</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Weddings</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">More</div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="body-content main-settings">
@*PRODUCTS*@
<div class="body-content-block">
    <div class="content-products-item float-left">
        <a href="" class="content-products-item-ref">
            <img alt="" class="content-products-item-image" src="~/Images/mens.png"/>
        </a>
        <div class="content-products-item-text item-text-mens">
            <div class="content-products-item-text-div">
                <span class="content-products-item-text-title item-text-title-mens">MEN'S WEAR</span>
                <span class="content-products-item-text-content">LOREM IPSUM IS SIMOLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY. LOREM</span>
            </div>
            <div class="content-products-item-text-footer-div">LOREM IPSUM IS SIMOLY DUMMY TEXT</div>
        </div>
    </div>

    <div class="content-products-item float-right">
        <a href="" class="content-products-item-ref">
            <img alt="" class="content-products-item-image" src="~/Images/womens.png"/>
        </a>
        <div class="content-products-item-text item-text-womens">
            <div class="content-products-item-text-div">
                <span class="content-products-item-text-title item-text-title-womens">WOMEN'S WEAR</span>
                <span class="content-products-item-text-content">LOREM IPSUM IS SIMOLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY. LOREM</span>
            </div>
        </div>
    </div>

    <div class="content-products-item float-right">
        <a href="" class="content-products-item-ref">
            <img alt="" class="content-products-item-image" src="~/Images/kids.png"/>
        </a>
        <div class="sale-menu sale-menu-baby-shop">
            <div class="sale-menu-price-div">
                <div class="sale-menu-price">
                    <span class="sale-menu-price-curr">$</span>
                    <span class="sale-menu-price-whole">99.</span>
                    <span class="sale-menu-price-fractional">00</span>
                </div>
            </div>
            <a href="" class="sale-menu-ref card-ref">
                <div class="sale-menu-div custom-title baby-custom-title-card" data-title="add to card">
                    <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                </div>
            </a>
            <a href="" class="sale-menu-ref whislost-ref">
                <div class="sale-menu-div custom-title baby-custom-title-whislost" data-title="whislost">
                    <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                </div>
            </a>
            <span class="sale-menu-ref menu-caption-baby-shop">
                    <span class="sale-menu-div">Baby Shop</span>
                </span>
        </div>
    </div>

    <div class="content-products-item float-left content-products-search-div">
        <div class="content-products-search">
            <div class="content-products-search-text">
                <input class="search-text" value="Search your product here ( e.g.: Silver diamond ring )"/>
            </div>
            <a href="" class="content-products-search-href">
                <img src="~/Images/loupe.png"/>
            </a>
        </div>
    </div>

    <div class="content-products-item float-right">
        <a href="" class="content-products-item-ref">
            <img alt="" class="content-products-item-image" src="~/Images/clock.png"/>
        </a>
        <div class="content-products-jewelry">
            <img class="content-products-jewelry-img" src="~/Images/bookmark.png"/>
            <div class="content-products-jewelry-text">JEWELRY</div>
        </div>
    </div>

    <div class="content-products-item float-left">
        <a href="" class="content-products-item-ref">
            <img alt="" class="content-products-item-image" src="~/Images/bird.png"/>
        </a>
        <div class="sale-menu sale-menu-crafts">
            <div class="sale-menu-price-div">
                <div class="sale-menu-price">
                    <span class="sale-menu-price-curr">$</span>
                    <span class="sale-menu-price-whole">99.</span>
                    <span class="sale-menu-price-fractional">00</span>
                </div>
            </div>
            <a href="" class="sale-menu-ref card-ref">
                <div class="sale-menu-div custom-title crafts-custom-title-card" data-title="add to card">
                    <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                </div>
            </a>
            <a href="" class="sale-menu-ref whislost-ref">
                <div class="sale-menu-div custom-title crafts-custom-title-whislost" data-title="whislost">
                    <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                </div>
            </a>
            <span class="sale-menu-ref menu-caption-crafts">
                    <span class="sale-menu-div">CRAFTS</span>
                </span>
        </div>
    </div>
</div>

@*NEW PRODUCTS*@
<div class="body-content-block new-products">
    <div class="products-slide-bar">
        <div class="products-slide-bar-caption">New Products</div>
        <div class="products-slide-bar-buttons">
            <a href="" class="products-slide-bar-href float-left">
                <div class="slide-bar-buttom slide-bar-buttom-blue">
                    <img src="~/Images/button-left.png"/>
                </div>
            </a>
            <a href="" class="products-slide-bar-href float-right">
                <div class="slide-bar-buttom slide-bar-buttom-blue">
                    <img src="~/Images/button-right.png"/>
                </div>
            </a>
        </div>
    </div>

    <div class="stretch-block">
        <div class="stretch-item new-item">
            <a href="" class="new-products-item-href">
                <img class="new-products-item-image" src="~/Images/women.png"/>
            </a>
            <div class="sale-menu new-products-baby-shop">
                <div class="sale-menu-price-div">
                    <div class="sale-menu-price">
                        <span class="sale-menu-price-curr">$</span>
                        <span class="sale-menu-price-whole">99.</span>
                        <span class="sale-menu-price-fractional">00</span>
                    </div>
                </div>
                <a href="" class="sale-menu-ref card-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-card" data-title="add to card">
                        <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                    </div>
                </a>
                <a href="" class="sale-menu-ref whislost-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-whislost" data-title="whislost">
                        <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                    </div>
                </a>
                <span class="sale-menu-ref menu-caption-baby-shop">
                        <span class="sale-menu-div">Baby Shop</span>
                    </span>
            </div>
        </div>

        <div class="stretch-item new-item">
            <a href="" class="new-products-item-href">
                <img class="new-products-item-image" src="~/Images/blue-fallal.png"/>
            </a>
            <div class="sale-menu new-products-baby-shop">
                <div class="sale-menu-price-div">
                    <div class="sale-menu-price">
                        <span class="sale-menu-price-curr">$</span>
                        <span class="sale-menu-price-whole">99.</span>
                        <span class="sale-menu-price-fractional">00</span>
                    </div>
                </div>
                <a href="" class="sale-menu-ref card-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-card" data-title="add to card">
                        <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                    </div>
                </a>
                <a href="" class="sale-menu-ref whislost-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-whislost" data-title="whislost">
                        <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                    </div>
                </a>
                <span class="sale-menu-ref menu-caption-baby-shop">
                            <span class="sale-menu-div">Baby Shop</span>
                        </span>
            </div>
        </div>
        <div class="stretch-item new-item">
            <a href="" class="new-products-item-href">
                <img class="new-products-item-image" src="~/Images/wristwatch.png"/>
            </a>
            <div class="sale-menu new-products-baby-shop">
                <div class="sale-menu-price-div">
                    <div class="sale-menu-price">
                        <span class="sale-menu-price-curr">$</span>
                        <span class="sale-menu-price-whole">99.</span>
                        <span class="sale-menu-price-fractional">00</span>
                    </div>
                </div>
                <a href="" class="sale-menu-ref card-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-card" data-title="add to card">
                        <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                    </div>
                </a>
                <a href="" class="sale-menu-ref whislost-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-whislost" data-title="whislost">
                        <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                    </div>
                </a>
                <span class="sale-menu-ref menu-caption-baby-shop">
                        <span class="sale-menu-div">Baby Shop</span>
                    </span>
            </div>
        </div>
    </div>
</div>

@* FEATURED PRODUCTS *@
<div class="body-content-block featured-products">
    <div class="products-slide-bar">
        <div class="products-slide-bar-caption">Featured Products</div>
        <div class="products-slide-bar-buttons">
            <a href="" class="products-slide-bar-href float-left">
                <div class="slide-bar-buttom slide-bar-buttom-red">
                    <img src="~/Images/button-left.png"/>
                </div>
            </a>
            <a href="" class="products-slide-bar-href float-right">
                <div class="slide-bar-buttom slide-bar-buttom-red">
                    <img src="~/Images/button-right.png"/>
                </div>
            </a>
        </div>
    </div>

    <div class="stretch-block">
        <div class="stretch-item featured-item">
            <img src="~/Images/model1.png"/>
            <div class="featured-item-bar">
                <div class="featured-item-text">
                    <span class="featured-item-text-title">Product Title here</span>
                    <span class="featured-item-text-discription">Short Description here</span>
                </div>
                <div class="featured-item-menu">
                    <div class="sale-menu-price-div gray-price-div red-item">
                        <div class="sale-menu-price">
                            <span class="sale-menu-price-curr">$</span>
                            <span class="sale-menu-price-whole">99.</span>
                            <span class="sale-menu-price-fractional">00</span>
                        </div>
                    </div>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-cart.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-box.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/arrows.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="featured-item-sticker red-item">
                <span class="featured-item-sticker-text">20% OFF</span>
            </div>
        </div>

        <div class="stretch-item featured-item">
            <img src="~/Images/model2.png"/>
            <div class="featured-item-bar">
                <div class="featured-item-text">
                    <span class="featured-item-text-title">Product Title here</span>
                    <span class="featured-item-text-discription">Short Description here</span>
                </div>
                <div class="featured-item-menu">
                    <div class="sale-menu-price-div gray-price-div red-item">
                        <div class="sale-menu-price">
                            <span class="sale-menu-price-curr">$</span>
                            <span class="sale-menu-price-whole">99.</span>
                            <span class="sale-menu-price-fractional">00</span>
                        </div>
                    </div>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-cart.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-box.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/arrows.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="stretch-item featured-item">
            <img src="~/Images/model3.png"/>
            <div class="featured-item-bar">
                <div class="featured-item-text">
                    <span class="featured-item-text-title">Product Title here</span>
                    <span class="featured-item-text-discription">Short Description here</span>
                </div>
                <div class="featured-item-menu">
                    <div class="sale-menu-price-div gray-price-div blue-item">
                        <div class="sale-menu-price">
                            <span class="sale-menu-price-curr">$</span>
                            <span class="sale-menu-price-whole">99.</span>
                            <span class="sale-menu-price-fractional">00</span>
                        </div>
                    </div>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-cart.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-box.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/arrows.png"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="featured-item-sticker blue-item">
                <span class="featured-item-sticker-text">New</span>
            </div>
        </div>

        <div class="stretch-item featured-item">
            <img src="~/Images/model4.png"/>
            <div class="featured-item-bar">
                <div class="featured-item-text">
                    <span class="featured-item-text-title">Product Title here</span>
                    <span class="featured-item-text-discription">Short Description here</span>
                </div>
                <div class="featured-item-menu">
                    <div class="sale-menu-price-div gray-price-div red-item">
                        <div class="sale-menu-price">
                            <span class="sale-menu-price-curr">$</span>
                            <span class="sale-menu-price-whole">99.</span>
                            <span class="sale-menu-price-fractional">00</span>
                        </div>
                    </div>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-cart.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/gray-box.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref gray-ref">
                        <div class="sale-menu-div">
                            <img alt="" src="~/Images/arrows.png"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@* ABOUT US *@
<div class="body-content-block about-us">
    <div class="products-slide-bar slide-bar-about-us">
        <div class="products-slide-bar-caption">Who We Are</div>
    </div>
    <div class="about-us-text-div">
        <span class="about-us-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </span>
    </div>
    <div class="stretch-block">
        <div class="stretch-item action-item">
            <a href="" class="new-products-item-href">
                <img src="~/Images/chose-products.png"/>
            </a>
        </div>
        <div class="stretch-item action-item">
            <a href="" class="new-products-item-href">
                <img src="~/Images/register.png"/>
            </a>
        </div>
        <div class="stretch-item action-item">
            <a href="" class="new-products-item-href">
                <img src="~/Images/checkout.png"/>
            </a>
        </div>
    </div>
    <div class="register-now-div">
        <a href="" class="register-now-href">
            <div class="register-now-text">
                <span>Register Now</span>
            </div>
        </a>
    </div>
</div>
</div>

<div class="body-footer main-settings">
    <div class="link-heap stretch-block">
        <div class="link-heap-item stretch-item">
            <div class="link-heap-item-caption">SHOPPING WITH US</div>
            <div class="link-heap-item-refs">
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">why shop with us?</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">how it works</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">delivery</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">returns</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">where's my order</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">contact & help</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">wedding list</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">wish lists</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">gift vouchers</a>
                </div>
            </div>
        </div>
        <div class="link-heap-item stretch-item">
            <div class="link-heap-item-caption">ABOUT US</div>
            <div class="link-heap-item-refs">
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">our story</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">customer contact</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">awards</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">press centre</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">work with us</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">terms & conditions</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">privacy & cookies</a>
                </div>
            </div>
        </div>
        <div class="link-heap-item stretch-item">
            <div class="link-heap-item-caption">SELLING WITH US</div>
            <div class="link-heap-item-refs">
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">why join?</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">faqs</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">apply to sell with us</a>
                </div>
                <div class="link-heap-href-div">
                    <a href="" class="link-heap-href">affiliates</a>
                </div>
            </div>
        </div>
        <div class="link-heap-item stretch-item">
            <div class="link-heap-item-caption">SIGNUP NEWSLETTER</div>
            <div class="subscribe-block">
                <div class="subscribe-block-title-div">
                    <span class="subscribe-block-title">E.G.:ABC@DOMAIN.COM</span>
                </div>
                <div class="subscribe-href-div">
                    <a href="" class="subscribe-href">SUBSCRIBE NOW</a>
                </div>
            </div>
            <div class="social-href-block">
                <div class="social-href-caption">KEEP IN TOUCH</div>
                <div class="stretch-block social-href-items">
                    <div class="stretch-item social-href-item">
                        <a href="" class="">
                            <img src="~/Images/rss.png"/>
                        </a>
                    </div>
                    <div class="stretch-item social-href-item">
                        <a href="" class="">
                            <img src="~/Images/facebook.png"/>
                        </a>
                    </div>
                    <div class="stretch-item social-href-item">
                        <a href="" class="">
                            <img src="~/Images/twitter.png"/>
                        </a>
                    </div>
                    <div class="stretch-item social-href-item">
                        <a href="" class="">
                            <img src="~/Images/flickr.png"/>
                        </a>
                    </div>
                    <div class="stretch-item social-href-item">
                        <a href="" class="">
                            <img src="~/Images/google.png"/>
                        </a>
                    </div>
                    <div class="stretch-item social-href-item-empty">
                        <a href="" class="">
                            <img src=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="creater-block">
        <div class="company-block">
            <span class="creater-block-text">Copyrigth &#xA9 2014 Gift Shop, All right reserved</span>
        </div>
        <div class="designer-block">
            <span class="creater-block-text">Designed by </span>
            <span class="creater-block-text designer-name">Amysxain</span>
        </div>
    </div>
</div>
</body>

