@model Site5.RouteConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>

<body>
<div class="body-head main-settings">

    @* TOP NAVBAR *@
    <div class="top-bar">
        <ul id="top-navbar" class="top-navbar">
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Sell</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Reristry</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Community</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Blogs</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Mobile</a>
            </li>
            <li class="top-navbar-item">
                <a href="" class="top-navbar-text">Gift Cards</a>
            </li>
        </ul>
    </div>

    @* MIDDLE NAVBAR *@
    <div class="middle-bar">
        <div class="logo-bar">
            <ul id="middle-navbar" class="middle-navbar">
                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item red">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text right-align">Cart</span>
                            <div class="middle-navbar-item-content-image">
                                <img alt="" class="middle-navbar-image" src="~/Images/cart.png"/>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item blue">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text right-align">Whislost</span>
                            <div class="middle-navbar-item-content-image">
                                <img alt="" class="middle-navbar-image" src="~/Images/box.png"/>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item red">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text center-align">Sign in</span>                                
                        </div>
                    </a>
                </li>

                <li class="middle-navbar-item-li">
                    <a href="" class="middle-navbar-item blue">
                        <div class="middle-navbar-item-content">
                            <span class="middle-nav-bar-text center-align">Register</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <img src="~/Images/logo.png" class="logo-img" alt=""/>
    </div>

    @* BUTTOM NAVBAR *@
    <div class="bottom-bar">
        <ul id="bottom-navbar" class="bottom-navbar">
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Art</div>
                </a>
                <ul class="dropdown-navbar">
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item">
                            <img alt="" class="dropdown-navbar-item-image" src="~/Images/dropdown-image.png"/>
                            <span class="dropdown-navbar-item-name">Item Name Here</span>
                            <span class="dropdown-navbar-text">Lorem Ipsum is simply dummy text of the</span>                                    
                            <a href="" class="dropdown-navbar-button">
                                <div class="dropdown-navbar-button-text">More Detail</div>
                            </a>
                        </div>
                        <div class="dropdown-navbar-separator">
                            <img class="dropdown-navbar-separator-img" alt="" src="~/Images/line.png"/>
                        </div>
                    </li>
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item">
                            <img alt="" class="dropdown-navbar-item-image" src="~/Images/dropdown-image.png"/>
                            <span class="dropdown-navbar-item-name">Item Name Here</span>
                            <span class="dropdown-navbar-text">Lorem Ipsum is simply dummy text of the</span>
                            <a href="" class="dropdown-navbar-button">
                                <div class="dropdown-navbar-button-text">More Detail</div>
                            </a>
                        </div>
                        <div class="dropdown-navbar-separator">
                            <img class="dropdown-navbar-separator-img" alt="" src="~/Images/line.png"/>
                        </div>
                    </li>
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item">
                            <img alt="" class="dropdown-navbar-item-image" src="~/Images/dropdown-image.png"/>
                            <span class="dropdown-navbar-item-name">Item Name Here</span>
                            <span class="dropdown-navbar-text">Lorem Ipsum is simply dummy text of the</span>
                            <a href="" class="dropdown-navbar-button">
                                <div class="dropdown-navbar-button-text">More Detail</div>
                            </a>
                        </div>
                        <div class="dropdown-navbar-separator">
                            <img class="dropdown-navbar-separator-img" alt="" src="~/Images/line.png"/>
                        </div>
                    </li>
                    <li class="dropdown-navbar-item-li">
                        <div class="dropdown-navbar-item dropddown-navbar-footer">See All Items</div>
                    </li>
                </ul>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Home & Living</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Jewelry</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Women</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Men</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Kids</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Vintage</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">Weddings</div>
                </a>
            </li>
            <li class="bottom-navbar-item">
                <a href="" class="bottom-navbar-item">
                    <div class="bottom-nav-bar-item-text">More</div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="body-content main-settings">
    @*PRODUCTS*@
    <div class="content-products">
        <div class="content-products-item float-left">
            <a href="" class="content-products-item-ref">
                <img alt="" class="content-products-item-image" src="~/Images/mens.png"/>
            </a>
            <div class="content-products-item-text item-text-mens">
                <div class="content-products-item-text-div">
                    <span class="content-products-item-text-title item-text-title-mens">MEN'S WEAR</span>
                    <span class="content-products-item-text-content">LOREM IPSUM IS SIMOLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY. LOREM</span>
                </div>
                <div class="content-products-item-text-footer-div">LOREM IPSUM IS SIMOLY DUMMY TEXT</div>
            </div>
        </div>

        <div class="content-products-item float-right">
            <a href="" class="content-products-item-ref">
                <img alt="" class="content-products-item-image" src="~/Images/womens.png"/>
            </a>
            <div class="content-products-item-text item-text-womens">
                <div class="content-products-item-text-div">
                    <span class="content-products-item-text-title item-text-title-womens">WOMEN'S WEAR</span>
                    <span class="content-products-item-text-content">LOREM IPSUM IS SIMOLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY. LOREM</span>
                </div>
            </div>
        </div>

        <div class="content-products-item float-right">
            <a href="" class="content-products-item-ref">
                <img alt="" class="content-products-item-image" src="~/Images/kids.png"/>
            </a>
            <div class="sale-menu sale-menu-baby-shop">
                <div class="sale-menu-price-div">
                    <div class="sale-menu-price">
                        <span class="sale-menu-price-curr">$</span>
                        <span class="sale-menu-price-whole">99.</span>
                        <span class="sale-menu-price-fractional">00</span>
                    </div>
                </div>
                <a href="" class="sale-menu-ref card-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-card" data-title="add to card">
                        <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                    </div>
                </a>
                <a href="" class="sale-menu-ref whislost-ref">
                    <div class="sale-menu-div custom-title baby-custom-title-whislost" data-title="add to card">
                        <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                    </div>
                </a>
                <span class="sale-menu-ref menu-caption-baby-shop">
                    <span class="sale-menu-div">Baby Shop</span>
                </span>
            </div>
        </div>

        <div class="content-products-item float-left content-products-search-div">
            <div class="content-products-search">
                <div class="content-products-search-text">
                    <input class="search-text" value="Search your product here ( e.g.: Silver diamond ring )"/>
                </div>
                <a href="" class="content-products-search-href">
                    <img src="~/Images/loupe.png"/>
                </a>
            </div>
        </div>

        <div class="content-products-item float-right">
            <a href="" class="content-products-item-ref">
                <img alt="" class="content-products-item-image" src="~/Images/clock.png"/>
            </a>
            <div class="content-products-jewelry">
                <img class="content-products-jewelry-img" src="~/Images/bookmark.png"/>
                <div class="content-products-jewelry-text">JEWELRY</div>
            </div>
        </div>

        <div class="content-products-item float-left">
            <a href="" class="content-products-item-ref">
                <img alt="" class="content-products-item-image" src="~/Images/bird.png"/>
            </a>
            <div class="sale-menu sale-menu-crafts">
                <div class="sale-menu-price-div">
                    <div class="sale-menu-price">
                        <span class="sale-menu-price-curr">$</span>
                        <span class="sale-menu-price-whole">99.</span>
                        <span class="sale-menu-price-fractional">00</span>
                    </div>
                </div>
                <a href="" class="sale-menu-ref card-ref">
                    <div class="sale-menu-div custom-title crafts-custom-title-card" data-title="add to card">
                        <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                    </div>
                </a>
                <a href="" class="sale-menu-ref whislost-ref">
                    <div class="sale-menu-div custom-title crafts-custom-title-whislost" data-title="add to card">
                        <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                    </div>
                </a>
                <span class="sale-menu-ref menu-caption-crafts">
                    <span class="sale-menu-div">CRAFTS</span>
                </span>
            </div>
        </div>
    </div>

    @*NEW PRODUCTS*@
    <div class="content-products new-products">
        <div class="products-slide-bar">
            <div class="products-slide-bar-caption">New Products</div>
            <div class="products-slide-bar-buttons">
                <a href="" class="products-slide-bar-href float-left">
                    <div class="slide-bar-buttom slide-bar-buttom-blue">
                        <img src="~/Images/button-left.png"/>
                    </div>
                </a>
                <a href="" class="products-slide-bar-href float-right">
                    <div class="slide-bar-buttom slide-bar-buttom-blue">
                        <img src="~/Images/button-right.png"/>
                    </div>
                </a>
            </div>
        </div>

        <div class="new-products-items">
            <div class="new-products-item">
                <a href="" class="new-products-item-href">
                    <img class="new-products-item-image" src="~/Images/women.png" />
                </a>
            </div>            

            <div class="new-products-item">
                <a href="" class="new-products-item-href">
                    <img class="new-products-item-image" src="~/Images/blue-fallal.png"/>
                </a>
                <div class="sale-menu new-products-baby-shop">
                    <div class="sale-menu-price-div">
                        <div class="sale-menu-price">
                            <span class="sale-menu-price-curr">$</span>
                            <span class="sale-menu-price-whole">99.</span>
                            <span class="sale-menu-price-fractional">00</span>
                        </div>
                    </div>
                    <a href="" class="sale-menu-ref card-ref">
                        <div class="sale-menu-div custom-title baby-custom-title-card" data-title="add to card">
                            <img class="sale-menu-card-image" alt="" src="~/Images/cart.png"/>
                        </div>
                    </a>
                    <a href="" class="sale-menu-ref whislost-ref">
                        <div class="sale-menu-div custom-title baby-custom-title-whislost" data-title="add to card">
                            <img class="sale-menu-whislost-image" alt="" src="~/Images/box.png"/>
                        </div>
                    </a>
                    <span class="sale-menu-ref menu-caption-baby-shop">
                            <span class="sale-menu-div">Baby Shop</span>
                        </span>
                </div>
            </div>
            <div class="new-products-item">
                <a href="" class="new-products-item-href">
                    <img class="new-products-item-image" src="~/Images/wristwatch.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
</body>    

